{% extends "base.html" %} {%block content%}

<!---->
<div id="messageContainer">
  {% if request.user.is_authenticated%} {%for message in messages%}
  <div>
    <span style="color: grey">[{{message.created_at}}]</span>
    <b>{{message.author}}:</b> <i>{{ message.text}}</i>
  </div>
  {%endfor%}
</div>
<script>
  async function sendMessage() {
    let fd = new FormData();
    let token = "{{ csrf_token }}";

    fd.append("textmessage", messageField.value);
    fd.append("csrfmiddlewaretoken", token);
    try {
      messageContainer.innerHTML += `
            <div id="deleteMessage">
                <span class="color-gray"> {{ request.user.first_name }}: <i class="color-gray">${messageField.value} </i></span>
            </div>`;
      let response = await fetch("/chat/", {
        method: "POST",
        body: fd,
      });

      let json = await response.json();
      console.log("json is", json);

      document.getElementById("deleteMessage").remove();
      messageContainer.innerHTML += `
            <div">
                <span> {{ request.user.first_name }}: <i>${messageField.value} </i></span>
            </div>`;

      messageField.value = "";

      console.log("Success!!");
    } catch (e) {
      console.error("An error occured", e);
    }
  }
</script>

<form onsubmit="sendMessage(); return false;" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      type="text"
      name="textmessage"
      id="messageField"
    />
    <label class="mdl-textfield__label" for="messageField">Text...</label>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Send
  </button>
</form>
{%else%}
<h1>Log in to chat</h1>
<br />
Pleas click
<a href="/login/">here</a>
{%endif%} {%endblock%}
