{% extends "base.html" %} {%block content%}

<!---->
{% if request.user.is_authenticated%} {%for message in messages%}
<div>
  <span style="color: grey">[{{message.created_at}}]</span>
  <b>{{message.author}}:</b> <i>{{ message.text}}</i>
</div>
{%endfor%}
<form action="/chat/" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      type="text"
      name="textmessage"
      id="sample3"
    />
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Send
  </button>
</form>
{%else%}
<h1>Log in to chat</h1>
<br />
Pleas click
<a href="/login/">here</a>
{%endif%} {%endblock%}
