.page-content {
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  p {
    font-size: 25px;
  }
  .username {
    margin-bottom: 30px;
  }

  button {
    margin-top: 20px;
  }
  .color-gray{
    color: gray;
  }