.page-content {
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  p {
    font-size: 25px;
  }
  .username {
    margin-bottom: 30px;
  }

  button {
    margin-top: 20px;
  }
  .color-gray{
    color: gray;
  }
  
  #messageContainer{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
    max-width: 350px;
    width: fit-content;
    word-break: break-word;
    background-color: antiquewhite;
  }