{% extends "base.html"%} {% block content %} {% if wrongPassword %}

<h1>Wrong password or username!</h1>

{% endif %}

<form method="POST" action="/login/">
  {% csrf_token %}
  <input type="hidden" name="redirect" value="{{redirect}}" />
  <div class="username">
    <p class="padding-right">username</p>
    <input name="username" type="text" placeholder="username..." />
  </div>
  <div class="password">
    <p class="padding-right">password</p>
    <input name="password" type="password" placeholder="password..." />
  </div>
  <div><button>login</button></div>
</form>
{% endblock %}
